<!DOCTYPE html>
<html>
  <head>
    <title>StageLinkTest</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
      <div id="user_nav" >
        <div class="row">
          <div class="col-md-offset-1 col-md-11 mt-10" >
            <% if current_user %>
              Signed in as <strong><%= current_user.name %></strong>
                <%= link_to "Sign out", signout_path, id: "sign_out", class:"btn btn-info navbar-btn", role:"button" %>
            <% else %>
     <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class:"btn btn-success navbar-btn", role:"button" %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
